body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Source Han Sans" !important;
    overflow-x: hidden;
}

#container {
    width: 100%;
    height: calc(100vh - 31px);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

/* #####Nav pane */

#dirs {
    width: 299px;
    border-right: #f0f0f0 solid 1px;
    height: 100%;
    position: absolute;
    left: -300px;
    top: 0;
    overflow-x: scroll;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

body.display-nav #container {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

body.display-nav #dirs {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

/* #####rendered view */

#main {
    width: 46%;
    height: 100%;
    float: right;
    overflow: auto;
    padding-left: 2%;
    padding-right: 2%;
}

/* #####codemirror */

#sidebar {
    float: left;
    width: 50%;
    height: 100%;
}

#input {
    height: 100% !important;
}

.CodeMirror {
    height: 100% !important;
    font: 20px !important;
}

/* #####add pane*/

.addpane {
    position: absolute;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
    right: calc(100% - 210px);
    top: calc(100% - 340px);
    background: #ffffff;
    text-align: center;
    user-select: none;
}

.add-butts {
    margin-top: 20px;
    width: 120px;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.add-butts::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: crimson;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
}

.add-butts:hover {
    cursor: pointer;
    color: white;
}

.add-butts:hover::before {
    transform: translate(-50%, -50%) scale(15);
}

#addnote {
    margin-top: 90px;
}

select {
    margin-top: 40px;
    width: 142.4px;
    height: 35.2px;
}

/* #####account pane */

.accountpane {
    position: absolute;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
    left: calc(100% - 210px);
    top: calc(100% - 340px);
    background: #ffffff;
    text-align: center;
    user-select: none;
}

.titlewrapper {
    width: min-content;
    margin: auto;
}

.title-m {
    color: crimson;
}

.accountpane h1 {
    font-size: 150%;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;
    position: relative;
    width: min-content;
}

.accountpane h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: crimson;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.accountpane h1:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.account-butts {
    margin-top: 20px;
    width: 100px;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.account-butts::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: crimson;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
}

.account-butts:hover {
    cursor: pointer;
    color: white;
}

.account-butts:hover::before {
    transform: translate(-50%, -50%) scale(15);
}

#regpane .account-butts {
    width: 71px;
    font-size: 0.8em;
    margin-top: 0%;
}

#loginpane .account-butts {
    width: 70px;
    font-size: 0.8em;
    margin-top: 0%;
}

#customizepane .account-butts {
    width: 70px;
    font-size: 0.8em;
    margin-top: 0%;
}

/* #####status bar */

#statusbar {
    width: calc(100% - 16px);
    height: 30px;
    border-top: #f0f0f0 solid 1px;
    padding-left: 8px;
    padding-right: 8px;
}

.status-btt {
    padding-right: 5px;
    padding-left: 5px;
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-btt:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.status-btt svg:hover {
    cursor: pointer;
}

#sync-btt {
    float: left;
}

#account-btt {
    float: right;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
}

progress[value]::-webkit-progress-bar {
    background-color: #f0f0f0;
}

progress[value]::-webkit-progress-value {
    background-color: crimson;
}

#spacediv p {
    float: left;
    margin-top: 0px;
    font-size: 0.9em;
}

#spacediv #spacevalue {
    float: right;
}

#accountstatpane button {
    position: fixed;
    bottom: 50px;
    right: 100px;
}

/* */

/* */

/* */

/* reg pane input styles*/

.inputpane {
    position: relative;
    width: min-content;
    margin: auto;
    margin-bottom: 5px;
}

.inputpane input {
    width: 8em;
    font-size: inherit;
    font-family: inherit;
    background-color: #f0f0f0;
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

.inputpane input:focus {
    outline: none;
}

.inputpane input::placeholder {
    color: #000000;
}

.inputpane span {
    position: absolute;
    background-color: crimson;
    transition: transform 0.5s ease;
}

.inputpane .bottom, .top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.inputpane .left, .right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.inputpane .bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.inputpane input:focus~.bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.inputpane .right {
    right: 0;
    transform-origin: top right;
}

.inputpane input:focus~.right {
    transform-origin: bottom right;
    transform: scaleY(1);
}

.inputpane .top {
    top: 0;
    transform-origin: top left;
}

.inputpane input:focus~.top {
    transform-origin: top right;
    transform: scaleX(1);
}

.inputpane .left {
    left: 0;
    transform-origin: bottom left;
}

.inputpane input:focus~.left {
    transform-origin: top left;
    transform: scaleY(1);
}

/* reg pane input styles*/

select {
    position: relative;
}

select {
    font-size: inherit;
    font-family: inherit;
    background-color: #f0f0f0;
    padding: 0.35em 0.45em;
    border: 0px solid crimson;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

select:focus {
    border: 1px solid crimson;
    outline: none;
}

select>* {
    outline: none;
}

/* #####loading pane */

#loadingacc {
    left: calc(100% - 210px);
    top: calc(100% - 340px);
}

.loadingpane {
    display: flex;
    justify-content: center;
    align-items: center;
    filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; 
    box-shadow: none;
    z-index: 2;
}

.loadingpane div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 2em;
}

.loadingpane span {
    width: 0.3em;
    height: 1em;
    background-color: crimson;
}

.loadingpane span:nth-of-type(1) {
    animation: grow 1s -0.45s ease-in-out infinite;
}

.loadingpane span:nth-of-type(2) {
    animation: grow 1s -0.3s ease-in-out infinite;
}

.loadingpane span:nth-of-type(3) {
    animation: grow 1s -0.15s ease-in-out infinite;
}

.loadingpane span:nth-of-type(4) {
    animation: grow 1s ease-in-out infinite;
}

@keyframes grow {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(2);
    }
}