body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Source Han Sans" !important;
    overflow-x: hidden;
}

#container {
    width: 100%;
    height: calc(100vh - 31px);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

#dirs {
    width: 299px;
    border-right: #f0f0f0 solid 1px;
    height: 100%;
    position: absolute;
    left: -300px;
    top: 0;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

body.display-nav #container {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

body.display-nav #dirs {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

#statusbar {
    width: calc(100% - 16px);
    height: 30px;
    border-top: #f0f0f0 solid 1px;
    padding-left: 8px;
    padding-right: 8px;
}

#main {
    width: 46%;
    height: 100%;
    float: right;
    overflow: auto;
    padding-left: 2%;
    padding-right: 2%;
}

#sidebar {
    float: left;
    width: 50%;
    height: 100%;
}

#input {
    height: 100% !important;
}

.CodeMirror {
    height: 100% !important;
    font: 20px !important;
}

.status-btt {
    padding-right: 5px;
    padding-left: 5px;
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-btt:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.status-btt svg:hover {
    cursor: pointer;
}

#sync-btt {
    float: left;
}

#account-btt {
    float: right;
}